.app-switch-container {
    background-color: rgba(32, 32, 32, 0.75);
    padding: 24px;
    border-radius: 8px;
}

// joined with the screenshot below into one window-like block
.preview-title-bar {
    background-color: #000;
    border-radius: 6px 6px 0 0;
    padding: 4px 8px;
}

.window-preview {
    padding: 5px;
    border: 1px transparent solid;
}

.window-preview-container {
    border-radius: 0 0 6px 6px;
}

.selected {
    background-color: rgba(255, 255, 255, 0.075);
    border-radius: 8px;
    border-color: var(--primary);
}

.switcher-preview-icon {
    margin-right: 4px;
}